body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  .countdown-container {
    text-align: center;
  }
  
  .countdown {
    font-size: 88px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  